# Ignore environment files
.env
.env.*

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
.env/

# Ignore logs and debug files
*.log
*.out
*.err

# Ignore package management files
pip-log.txt
pip-delete-this-directory.txt

# Ignore IDE and editor settings
.vscode/
.idea/
*.swp
*.swo
*.swn
